<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/slecret_homepage_tab_icon.PNG">
  </head>
  <body>
    <h1 style="color: rebeccapurple; text-align: center; font-size: 100px;"><%= title %></h1>
    <p style="color: darkgreen; text-align: center; font-size: 50px;">Welcome to <%= title %></p>
  </body>
</html>
